/* Container */
.container {
	background-image: url("../s.image/1681888502807.png");
	background-size: 680px;
	background-position: center top -20px;
	background-repeat: no-repeat;
	overflow: hidden;
}

body {
background-color: #f9f6ef;
}

/* Table */
.my_ani {
width: 15%;
margin-bottom: 20px;
border-collapse: collapse;
}

.my_ani th,
.my_ani td {
border: 1px solid #8a704f;
padding: 10px;
text-align: center;
}

.my_ani th {
background-color: #8a704f;
color: #f9f6ef;
border-bottom: 1px solid #f9f6ef;
width: 80px;
}

.my_ani .th3 {
background-color: #8a704f;
color: #f9f6ef;
border-bottom: 1px solid #8a704f;
width: 100px;
}

/* Form */
.join {
width: 100%;
margin-top: 20px;
margin-bottom: 20px;
padding-left: 405px;
}

.join th,
.join td {
font-size: 14px;
}

.join th {
	width: 70px;
}

.join input[type="text"],
.join input[type="number"],
.join input[type="file"] {
width: 100%;
padding: 10px;
margin-top: 5px;
margin-bottom: 10px;
border: none;
border-radius: 5px;
}

/* Radio buttons */
.choice input[type="radio"] {
margin-right: 5px;
}

/* Submit button */
#sub {
margin-right: 1%;
display: block;
width: 80px;
height: 40px;
padding: 10px;
background-color: #8a704f;
color: #ffffff;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 14px;
}

#sub:hover {
border: 1px solid #8a704f;
background-color: #f9f6ef;
color: #8a704f;
}