@charset "UTF-8";

#head{
	height: 100px;
	background-image: url("../images/bg.jpg");  /* 같은 경로에 이미지 폴더가 없기에 상위로 가서 이미지를 찾아야한다 이때 사용하는 명령어가    "    ../  "다 */
	background-repeat: no-repeat;
	text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.mainpage{
	float:left;
}
a{
	float: right;
}
