@charset "UTF-8";

html{
  height: 100%;
  width:100%;
}

/* 전체 컨테이너 스타일 */
.container {
  background: url("../s.image/su_back.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*   max-width: 600px;
 */  margin: 0 auto;
  text-align: center;
		max-width:100%;
		height: 800px;
		min-width: 800px;
	  /* background-color: rgba( 255, 255, 255, 0.3 ); 
background-image:url("../s.image/back1.png");
	  background-size: cover;
	  */
}


/* 로고 스타일 */
.logo {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #7f5d34;
}

/* 폼 스타일 */
form {
  display: inline-block;
  text-align: left;
margin-top:8%;
}
.log{
	max-width:850px;
	
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

input[type="text"],
input[type="password"] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

button {
/*   background-color: #B2CCFF; */ 
  background-color: #7f5d34;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 4rem;
  margin-bottom: 2rem;
  margin-left:25%;
  font-size: 1.2rem;
  align-content: center;
}
button:hover {
  color: #000;
}
/* 링크 스타일 */
.links {
/*   margin-top: 2rem;
  margin-right: 40%;
 */
 float: right;  
 margin-left: 100px;
 
 }

.links a {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1rem;
/*   color: #B2CCFF; */
  color: #7f5d34;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  align-content: center;
  font-size: 20px
}

.links a:hover {
/*   border-bottom-color:  #B2CCFF; */
  border-bottom-color:  #7f5d34;
}

.log{
	float:left; 
}
