@charset "UTF-8";
body{
	height: 100%;
}
.container{
	height: 1000px;
	max-width: 1200px;
	margin: 0 auto;
}
.match_table{
	float: left;
	width: 25%;
	margin-left: 4%;
	margin-right: 4%;
	max-height: 600px;
	border: none;
}
/* .match_table img{
} */
.match_table th{
	height:200px;
	width:200px;
	border: none;
}

img{
	width: 150px;
	height:150px;
	border-radius: 70%;
}

.match_table td{
	font-size:1em;
	text-align:center;
	height:350px;
	border: 1px solid black;
}

.match_table button{
     background:url("../s.image/bono.png") no-repeat, linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
	background-size:auto 100%;
	width: 80%;
	margin-left:10%;
	margin-right:10%;
	padding: 20px;
    color: red;
}


