@charset "UTF-8";
html{
  height: 100%;
  width:100%;
  background: url("../s.image/su_nback.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.container{
	max-width: 100%;
	margin: 0 auto;
	max-height:900px;
	height:100%;
	align-content: center;
	
/* 	background-image: url("../s.image/cat.png");
	background-size: contain; 
	 background-repeat: no-repeat;
*/
	}

.join{
	margin: 0 auto;
	border: none;
	text-align:center;
	align-content: center;
	max-width:400px;
	height:600px;
}
th,td{

	border-radius:10px;		
	 border-width: 0 1px 1px 0;
	border: 1px solid #7d6b5b;
}

td{
	border: 1px solid #7d6b5b;
}
/* #w{
	border-top-left-radius:10px;
}
#s{
	border-bottom-left-radius:10px;
}*/
.join input{
	align-content: center;
	text-align: center;
	border: none;
	 background: transparent;
	
}
#check{
	background-color: #B2CCFF;	
	color: white;
	
}
button:hover {
	color: black;
	
	
}

.join th{
	background-color: #7d6b5b;	
	color: white;
	

}
#tr{
	border: none;
}
button {
	border: none;
	background-color:  #7d6b5b;
	color: white;
	padding: 10px 25px;
}